.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.nav-links li {
  margin: 1rem;
}

.nav-links a {
  border: 1px solid transparent;
  color: #292929;
  text-decoration: none;
  padding: 0.5rem;
}

.nav-links a:hover,
.nav-links a:active,
.nav-links a.active {
  border-color: #292929;
}

.nav-links a:hover .nav--scroll--active,
.nav-links a:active .nav--scroll--active,
.nav-links a.active .nav--scroll--active {
  border-color: red;
}

.nav-links button {
  cursor: pointer;
  background: transparent;
  padding: 0.5rem;
  font: inherit;
}

.nav-links button:focus {
  outline: none;
}

.nav-links button:hover,
.nav-links button:active {
  border: 1px solid #292929;
  color: #292929;
}

@media (min-width: 768px) {
  .nav-links {
    flex-direction: row;
  }

  .nav-links li {
    margin: 0 0.5rem;
  }

  .nav-links a {
    color: #000;
    text-decoration: none;
  }

  .nav-links .nav--scroll--active {
    color: #fff;
    border: none;
    font-size: 20px;
  }

  .nav-links button {
    color: #000;
    background: transparent;
  }

  .nav-links button:hover,
  .nav-links button:active {
    color: red;
  }
}

@media only screen and (max-width: 950px) {
  .nav-links {
    flex-wrap: wrap;
  }
}
